.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
}

.ant-carousel {
  height: calc(300px + 35vw);
  max-height: 540px;
}

.ant-carousel .slick-dots-bottom {
  bottom: -15px;
  margin: 0 -2px;
  width: auto;
  display: flex !important;
}

.ant-layout {
  max-width: 1440px;
  margin: 0 auto;
}

.ant-layout-header {
  padding: 0 15px;
}

.ant-layout-sider-zero-width-trigger {
  display: none;
}

.slick-dots-bottom li {
  width: 100%;
  margin: 0 1%;
}

h1.header {
  font-size: 38px;
}

@media (max-width: 767px) {
  .price-summary {
    display: none;
  }
}
